.card-header{
  display: flex;
   justify-content: center; 
 }
 .card-title{
   display: flex;
   justify-content: center;
 }
 #Instruction{
    padding: 2%;
    text-align: center;
 }
 .input{
   text-align: center;
   margin: 7%;
 }
 .row{
  display: flex;
  justify-content: center;
 }
 .Form{
   display: flex;
   justify-content: center;
 }
 div.gallery {
   margin: 10px;
   border: 1px solid #ccc;
   float: left;
   height: 200px;
   width: 200px;
   margin-left: 20px;
 }
 
 div.gallery:hover {
   border: 3px solid #777;
 }
 .name{
   padding: 10%;
 }
 div.gallery img {
 margin-top:0px;
   width: 200px;
   height: 200px; 
   object-fit: cover;
 }
 h1{
  font-family: 'Oswald', sans-serif;
     display: flex;
   justify-content: center;
 }
 footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}